extends layout

block content
  section.row.info
    aside
      h1 profile
      dl
        dt NAME
        dd test
        dt SCORE
        dd
          table
            thead
              tr
                th WIN
                th DRAW
                th LOSE
            tbody
              tr
                td 20
                td 1
                td 30
      a.btn Random Matching
    article
      table
        thead
          tr
            th File Name
            th Primary
        tbody
          -for(var i = 0; i < myCodes.length; i ++)
            tr
              td #{myCodes[i]}
              td
                input(type="checkbox")
          tr
            td(colspan="3")
              form(action="/code", method="POST", enctype="multipart/form-data")
                input(name="code", type="file", required, accept="text/javascript")
                input.btn(type="submit", value="+UPLOAD") 
  
    form(action="game", method="GET")
      dl
        dt
          label(for="map") Map
        dd
          select(name="map")
            -for(var i = 0; i < maps.length; i++)
              option #{maps[i]}
        dt
          label(for="blue") My AI
        dd
          select(name="blue")
            -for(var i = 0; i < myCodes.length; i ++)
              option #{myCodes[i]}
        dt
          label(for="red") Others AI
        dd
          select(name="red")
            -for(var i = 0; i < othersPriAI.length; i++)
              option #{othersPriAI[i]}
      button.btn(type="submit") Let's Fight
    form(action="primaryCode", method="GET")
      dl
        dt
          label(for="myCode") MyAICode
        dd
          select(name="myCode")
            -for(var i = 0; i < myCodes.length; i ++)
              option #{myCodes[i]}
      button.btn(type="submit") Set Primary Code
