extends layout

block content
  form(action="game", method="GET")
    section.row.match
      article#map
        h1 Map List
        ul
          -for(var i = 0; i < maps.length; i++)
            li 
              input(type="radio", name="map", value="#{maps[i]}")
              label #{maps[i]}
      div
        article.ai#my_ai
          fieldset
            legend My AI
            table
              tr
                th(rowspan="2")
                th(rowspan="2") name
                th(colspan="3") score
              tr
                th win
                th draw
                th lose
              -for(var i = 0; i < myCodes.length; i++)
                tr
                  td
                    input(type="radio", name="blueCode", value="#{myCodes[i]}")
                  td
                    label #{myCodes[i]}
                  td 
                  td
                  td
        article.ai#other_ai
          fieldset
            legend Other AI
            div#searchBox
              input(type="search", placeholder="search")
              button.btn(type="submit")
                span.icon.search
            table
              tr
                th(rowspan="2")
                th(rowspan="2") name
                th(colspan="3") score
              tr
                th win
                th draw
                th lose
              -for(var i = 0; i < other.length; i++)
                tr
                  td
                    input(type="radio", name="redName", value="#{other[i]}")
                  td
                    label #{other[i]}
                  td 
                  td
                  td
          input(name="blueName", type="hidden", value="#{user}")
        button.btn FIGHT
